@import "../../styles/general/colors.scss";

.body {
    background-color: $white;
    padding: 20px;
    border: 1px solid;
    border-color: $light-grey;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
}