@import '../../styles/general/colors.scss';

span.password {
    // background-color: $white;
    // border-color: $grey;
    // border-left: 0;
    // margin-left: 0;
    position: absolute;
    z-index: 5;
    left: 95%;
    top: 10%;

    &:hover {
        cursor: pointer;
    }
}

input.password {
    border-radius: 10px !important;
}