@import '../../styles/general/colors.scss';

span.password {
    // background-color: $white;
    // border-color: $grey;
    // border-left: 0;
    // margin-left: 0;
    position: absolute;
    z-index: 5;
    left: 92%;
    top: 10%;

    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 1700) {
    span.password {
        left: 95%
    }
}

@media (max-width: 1500) {
    span.password {
        left: 94%
    }
}

@media (max-width: 1000) {
    span.password {
        left: 92%
    }
}

input.password {
    border-radius: 10px !important;
}