@import '../../styles/general/colors.scss';

span.password {
    // background-color: $white;
    // border-color: $grey;
    // border-left: 0;
    // margin-left: 0;
    position: absolute;
    z-index: 6;
    // left: 92%;
    top: 15%;
    right: calc(0.375em + 0.1875rem);

    &:hover {
        cursor: pointer;
    }
}



// @media (max-width: 1700) {
//     span.password {
//         left: 95%
//     }
// }

// @media (max-width: 1500) {
//     span.password {
//         left: 94%
//     }
// }

// @media (max-width: 1000) {
//     span.password {
//         left: 92%
//     }
// }

input {

    &.password {
        border-radius: 10px !important;
        width: 100% !important;
    }

    &.password_invalid {
        border-color: $invalid !important;

        &:focus {
            box-shadow:  0 0 0 0.25rem $invalid-faded !important;
        }
    }

}