@import './colors.scss';

// If there is a very commonly used group/set of attributes you find adding across many classes, make a mixin for it and add it here!
// This will help keep our stylesheets DRY!

@mixin ccg-border-styling($theme: $light-grey, $overflow: hidden) {
    border: 1px solid $light-grey;
    border-radius: 10px;
    overflow: $overflow
}

@mixin ccg-icon-button-styling($color: $secondary-blue, $hovercolor: $lightest-blue, $backgroundcolor: transparent) {
    background-color: $backgroundcolor;
    border: none;
    color: $color;
    width: auto;
    height: auto;
    display: block;
    align-items: center;

    &:hover {
        color: $hovercolor;
    }

    &:active {
        background-color: transparent;
    }

    &.ccgIconButtonIsSelected {
        color: $hovercolor;
    }
}

// @mixin ccg-bs-primary-button-styling ($bg-color: $primary-blue,
//     $font-color: $white,
//     $bg-color-hover: $secondary-blue,
//     $border-color-hover: $secondary-blue,
//     $width: 100%,
//     $height: 45px,
//     $border-radius: 15px,
//     $border: inherit 
//     ) {

//     width: 100%;
//     border-radius: 15px;
//     height: 45px;
//     border: $border;

//     &.btn-primary {
//         background-color: $bg-color;
//         color: $font-color;

//         &:hover {
//             background-color: $bg-color-hover;
//             border-color: $border-color-hover;
//         }
//     }
// }