@import "../../styles/general/colors.scss";

span.searchIcon {
    position: absolute;
    z-index: 6;
    top: 15%;
    left: 10px;

}

input {
    &.searchFilter {
        padding-left: 30px;
        border-radius: 10px !important;
        border-color: $light-grey !important;
    }

    &:focus {
        box-shadow:  0 0 0 0.25rem $secondary-blue !important;
    }
}