@import "../../styles/general/colors.scss";

.loading_bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 5;

    
}

.success_bar {

    div::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 3px $success-faded;
        animation: loadingAnimation 5s linear forwards
    }
}

.invalid_bar {

    div::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 3px $invalid-faded;
        animation: loadingAnimation 5s linear forwards
    }
}

@keyframes loadingAnimation {
    to {
        width: 100%;
    }
}