@import "../../styles/general/colors.scss";

.format {
  border-radius: 40px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
}

.green {
  background-color: $light-green;
  color: $dark-green;
}

.yellow {
  background-color: $light-orange;
  color: $dark-orange;
}

.red {
  background-color: $light-red-shadow;
  color: $dark-red;
}