@import "../../styles/general/colors.scss";
@import "../../styles/general/mixins.scss";

div.dateRangePickerStyling {
    @include ccg-border-styling($overflow: visible);

    :global(div.react-daterange-picker__wrapper) {
        border: none;
    }
}

div.calendarStyling {
    @include ccg-border-styling($overflow: hidden, $box-shadow: none);

    :global(div.react-calendar) {
        border: none;
    }

    color: $dark-text;

}

button.tileStyling {
    // &:active {
    //     background: $secondary-blue;
    // }

    &:global(.react-calendar__tile--active) {
        background: $lightest-blue;
        // color: $dark-text
    }

    &:global(.react-calendar__tile--hasActive) {
        background: $lightest-blue;
        // color: $dark-text
    }

    &:global(.react-calendar__tile--now) {
        background: $secondary-blue;
        text-decoration: underline;
        // color: $dark-text
    }

    &:global(.react-calendar__tile) {
        // background: $lightest-blue;
        color: $dark-text
    }
}


.dateRangePickerCalIcon {
    @include ccg-icon-button-styling;
    font-size: 1.2rem;
}

.dateRangePickerCloseIcon {
    font-size: 1.2rem;
    @include ccg-icon-button-styling;
}