@import "../../styles/general/colors.scss";
@import "../../styles/general/mixins.scss";


.floatNumbersInf {
    animation-name: floatNumbersInf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition-timing-function: ease;
}

@keyframes floatNumbersInf {
    25% {
        transform: translate(0, -4px);
    }
      
    75% {
        transform: translate(0, 4px);
    } 
    100% {
        transform: translate(0, 0px);
    }
}

.floatNumbersIntoPos {
    animation-name: floatNumbersIntoPos;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition-timing-function: ease;
}

@keyframes floatNumbersIntoPos {
    0% {
        transform: translate(0, 0);
    }
    
    20% {
        transform: translate(0, -4px);
    }
    
    45% {
        transform: translate(0, 3px);
    }
    
    70% {
        transform: translate(0, -2px);
    }
    
    87.5% {
        transform: translate(0, 1px);
    }
    
    100% {
        transform: translate(0, 0);
    }    
}

/* Animation property */
.wiggle {
    animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.simpleSummaryCardBorder {
    @include ccg-border-styling;
}

.titleSimpleSummaryCard {
    color: $dark-text;
    /* body */
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainBodySimpleSummaryCard {
    color: $dark-text;
    /* Heading 01 */
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.commentMetricText {
    /* Small text */
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.commentText {
    color: $dark-grey2;
    /* Small text */
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.commentIcon {
    svg {
        @include ccg-icon-button-styling($backgroundcolor: inherit, $hovercolor: inherit, $color: inherit);
        border-radius: 10px;
        width: 31px;
        height: 28px;
        display: inline;
    }
}

.greyIconBackgroundPulse {
    svg {
        animation: pulse 3s infinite;
    }
  }
  
@keyframes pulse {
    0%, 100% {
      background-color: $page-grey;
    }
    50% {
      background-color: $light-grey;
    }
  }