
@import './general/colors.scss';

.open-ims-styling {
    button.btn {
        width: 100%;
        border-radius: 15px;
        height: 45px;
        &.btn-primary {
            background-color: $primary-blue;
            color: $white;
            &:hover {
                background-color: $secondary-blue;
                border-color: $secondary-blue;
            }
        }
        &.btn-secondary {
            background-color: $page-grey;
            border-color: $light-grey;
            color: $dark-grey2;
            font-weight: 700;
            &:hover {
                background-color: $light-grey;
            }
        }

    }

    button.pagination {
        background-color: transparent;
        border: none;
        color: $secondary-blue;
        width: auto;
        height: auto;
        display: block;
        align-items: center;
        &:hover {
            color: $lightest-blue;
        }
        &:active {
            background-color: transparent;
        }
    }
}