@import './general/colors.scss';
@import './general/mixins.scss';

.open-ims-styling {
    button.btn {
        width: 100%;
        border-radius: 15px;
        height: 45px;

        &.btn-primary {
            background-color: $primary-blue;
            color: $white;

            &:hover {
                background-color: $secondary-blue;
                border-color: $secondary-blue;
            }
        }
        &.btn-secondary {
            background-color: $page-grey;
            border-color: $light-grey;
            color: $dark-grey2;
            font-weight: 700;
            &:hover {
                background-color: $light-grey;
            }
        }

        &.btn-white {
            background-color: $white;
            color: $dark-grey2;
            border-color: $light-grey;
            &:hover {
                background-color: $light-grey;
                border-color: $light-grey;
                color: $dark-text;
            }
        }

        &.btn-auto {
            width: auto;
        }

        // @include ccg-bs-primary-button-styling;

    }

    button.pagination {
        @include ccg-icon-button-styling;
    }

    .pill {
        border: none;
        border-width: 1px;
        border-radius: 20px;
        padding: 5px;
        background-color: $white;
        border-color: $light-grey;
        margin-right: 2px;

        &:hover {
            border-color: $light-grey;
            background-color: $light-grey;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
}