@import './general/colors.scss';
@import './general/variables.scss';

.open-ims-styling {

    form {

        label {
            font-weight: 500;
            &.fw-normal {
                font-weight: 400;
            }
        }

        input {
            border-radius: 10px;
            border-color: $grey;

            &::selection {
                background-color: $secondary-blue;
                color: $white;
            }

            &:focus {
                border-color: $secondary-blue;
                box-shadow: 0 0 0 0.25rem $secondary-blue;
            }
        }

        .form-check {
            label {
                font-weight: 400;
            }

            input.form-check-input {
                border-radius: 0;
                border-width: 2px;

                &:hover {
                    cursor: pointer;
                }

                &:checked {
                    background-color: $primary-blue;
                    border-color: $primary-blue ;
                    box-shadow: none;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        span.input-group-text {
            margin-bottom: 20px;
        }

        div {
            margin-bottom: 10px;

            &.form-check {
                margin: 0;
            }
        }

        .form-control.is-invalid {
            background-image: none;
        }

        .invalid-feedback {
            display: inline-flex;
            align-items: center;
            margin: 0;

            &::before {
                content: $alertIcon;
                color: $invalid;
                transform: scale(0.57);
                transform-origin: center;
                width: 23px;
                height: 25px;
                padding: 0;
                margin: 0;
            }
        }
    }
}