@import "../../styles/general/colors.scss";

.sidebarColumn {
    flex: 0 0 13rem; /* Same width as the sidebar's fixed width */
    padding: 0;
}

.contentColumn {
    // flex: 1; /* Allow content column to flexibly adjust its width */
    background-color: $page-grey;
}