.auth_page_paddings{
    padding: 2em;
    padding-left: 5em;
    padding-right: 2em;
}

.left_auth_formatting_register {
    position: relative;
    margin-top: 1em;
    padding-right: 5%;
}

.left_auth_formatting {
    position: relative;
    margin-top: 7em;
    padding-right: 5%;
}

.auth_image_container {
    padding: 0;
    max-height: 90vh;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10% 0;
}

.auth_image {
    max-width: 100%;
    object-fit: contain;
}

@media (max-width: 1140px) {
    .auth_image {
        height: 100%;
        object-fit: fill;
    }
}